body {
    background-color: #ffc3ea;
    color: #191C0E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3{
    font-size: 2em;
}

p {
    font-size: 1em;
}

.funfacts {
    background-color:#c3fffe ;
    font-family: 'Times New Roman', Times, serif;
    margin: 3em 0;
    padding: 2.5em;
    line-height: 1;
}

